<!DOCTYPE html>
<html>
<head>
     <title>Leland Wong</title>
     <meta charset="utf-8">
     <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css"> 
     <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
     <!-- Material Design Bootstrap -->
     <link href="stylesheets/mdb.min.css" rel="stylesheet">
     <!-- Your custom styles (optional) -->
     <link href="stylesheets/style.css" rel="stylesheet">
     <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
     <!-- Bootstrap tooltips -->
     <script type="text/javascript" src="javascripts/popper.min.js"></script>
     <!-- Bootstrap core JavaScript -->
     <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
     <!-- MDB core JavaScript -->
     <script type="text/javascript" src="javascripts/mdb.min.js"></script>
</head>
<body>
     <header>
          <nav class="navbar navbar-expand-lg navbar-light white">
               
               <!--Brand-->
               <a class="navbar-brand" href="#">LW</a>

               <!--Collapsed Button-->
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

               <!--Collapsible content -->
               <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!--Links-->
                    <ul class="navbar-nav mr-auto">
                         <li class="nav-item active">
                              <a class="nav-link" href="#">Leland Wong<span class="sr-only"></span></a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Resume<span class="sr-only"></span></a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Job Experience<span class="sr-only"></span></a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Portfolio<span class="sr-only"></span></a>
                         </li>
                    </ul>
               </div>
          </nav>
     </header>
     <main>
          <div class="container">
               <!--Grid Row 1: Title-->
               <div class="row">
                    <div class="col-md-12 text-center">
                         <h1>Job Experience</h1>
                         <hr>
                    </div>
               </div>
               <div class="card">
                    <div class="col-md-5 d-inline position-relative d-inline float-left">
                         <img src="/images/vmware_logo.jpg" class="img-fluid view overlay hm-white-light" alt="">
                         <div class="mask"></div>
                    </div>
                    <div class="col-md-7 d-inline position-relative float-right">
                         <div class="card-header w-100">
                              Cisco Systems, Santa Clara, CA
                              <br>
                              IT Analyst Intern (June 2015 – September 2015)
                         </div>
                         <span>
                              Created mobile web application prototype to replace select paper based procedures related to physical security.
                         </span>
                         <ul>
                              <li>
                                   Increased efficiency of Cisco’s Safety and Security department
                              </li>
                              <li>
                                   Improved accessibility of workplace services provided to general employees
                              </li>
                              <li>
                                   Learned agile development practices and facilitated meetings to revise scope and requirements
                              </li>
                              <li>
                                   Implemented responsive web design using HTML, CSS, JavaScript, and Bootstrap
                              </li>
                              <li>
                                   Used Java applets to build back end and connect to SQL database
                              </li>
                              <li>
                                   Presented prototype to regional directors of Safety and Security group, project approved to continue on to next phase
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
     </main>
     <footer class="page-footer white center-on-small-only">
          <!--Links-->
          <div class="container-fluid">
               <!--Row 1-->
               <div class="row">
                    <!--Column 1-->
                    <div class="col-md-6">
                         <h5 class="title">



     </footer>

</body>
</html>