<!DOCTYPE html>
<html>
<head>
     <title>Leland Wong</title>
     <meta charset="utf-8">
     <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css"> 
     <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
     <!-- Material Design Bootstrap -->
     <link href="stylesheets/mdb.min.css" rel="stylesheet">
     <!-- Your custom styles (optional) -->
     <link href="stylesheets/style.css" rel="stylesheet">
     <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
     <!-- Bootstrap tooltips -->
     <script type="text/javascript" src="javascripts/popper.min.js"></script>
     <!-- Bootstrap core JavaScript -->
     <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
     <!-- MDB core JavaScript -->
     <script type="text/javascript" src="javascripts/mdb.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,700" rel="stylesheet"> 
</head>
<body>
     <header>
          <nav class="navbar navbar-expand-lg navbar-light white">
               
               <!--Brand-->
               <a class="navbar-brand" href="/">LW</a>

               <!--Collapsed Button-->
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

               <!--Collapsible content -->
               <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!--Links-->
                    <ul class="navbar-nav mr-auto">
                         <li class="nav-item">
                              <a class="nav-link" href="#">Resume<span class="sr-only"></span></a>
                         </li>
                         <li class="nav-item active">
                              <a class="nav-link" href="./job-exp">Job Experience<span class="sr-only"></span></a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Portfolio<span class="sr-only"></span></a>
                         </li>
                    </ul>
               </div>
          </nav>
     </header>
     <main>

          <div class="container">
               <!--Grid Row 1: Title-->
               <div class="row">
                    <div class="col-md-12 text-center">
                         <h1>Job Experience</h1>
                         <hr>
                    </div>
               </div>
               <div class="row z-depth-1-half mb-md-4">
                    <div class="col-md-5">
                         <div style="margin-top: 15%">
                              <img src="/images/vmware_logo.jpg" class="img-fluid view overlay hm-white-light" alt="">
                              <div class="mask"></div>
                         </div>
                    </div> 
                    <div class="col-md-7">
                         <div class="row">
                              <div class="card-header w-100">
                                   <strong>VMware, Inc. Palo Alto, CA
                                   <br>
                                   IT Business Systems Analyst (May 2016 – Present)</strong>
                              </div>
                         </div>
                         <div class="card-body">
                              <span class="card-title">
                                   Support HR business Workday Human Capital Management integrations in both functional and technical capacity
                              </span>
                              <ul>
                                   <li>
                                        Partner with business to define and document functional requirements
                                   </li>
                                   <li>
                                        Coordinate cross functional teams to build and execute against project timelines
                                   </li>
                                   <li>
                                        Combine functional and technical knowledge to build integrated design
                                   </li>
                                   <li>
                                        Assist development team with research into new Workday technologies (e.g. Object Transporter)
                                   </li>
                                   <li>
                                        Build integration prototypes leveraging EIB, Workday Studio, Workday web services
                                   </li>
                                   <li>
                                        Provide insight and analysis to help build governance around new  integration solutions
                                   </li>
                              </ul>
                              <span class="card-title">
                                   Support Real Estate and Workplace business to implement technology related projects
                              </span>
                              <ul>
                                   <li>
                                        Work with business to define requirements
                                   </li>
                                   <li>
                                        Translate business requirements into technical requirements
                                   </li>
                                   <li>
                                        Analyze application fit into VMware IT infrastructure & application landscape
                                   </li>
                                   <li>
                                        Coordinate amongst multiple teams to build timelines and acquire security & architecture board approvals
                                   </li>
                                   <li>
                                        Provide analysis for Tier 3 support cases and coordinating bug fix activities
                                   </li>
                              </ul>
                         </div>
                    </div>   
               </div>

               <div class="row z-depth-1-half">
                    <div class="col-md-5">
                         <div style="margin-top: 15%;">
                              <img src="/images/cisco_logo.png" class="img-fluid view overlay hm-white-light" alt="">
                              <div class="mask"></div>
                         </div>
                    </div> 
                    <div class="col-md-7">
                         <div class="row">
                              <div class="card-header w-100 strong">
                                   <strong>Cisco Systems, Santa Clara, CA
                                   <br>
                                   IT Analyst Intern (June 2015 – September 2015)</strong>
                              </div>
                         </div>
                         <div class="card-body">
                              <span class="card-title">
                                   Created mobile web application prototype to replace select paper based procedures related to physical security.
                              </span>
                              <ul>
                                   <li>
                                        Increased efficiency of Cisco’s Safety and Security department
                                   </li>
                                   <li>
                                        Improved accessibility of workplace services provided to general employees
                                   </li>
                                   <li>
                                        Learned agile development practices and facilitated meetings to revise scope and requirements
                                   </li>
                                   <li>
                                        Implemented responsive web design using HTML, CSS, JavaScript, and Bootstrap
                                   </li>
                                   <li>
                                        Used Java applets to build back end and connect to SQL database
                                   </li>
                                   <li>
                                        Presented prototype to regional directors of Safety and Security group, project approved to continue on to next phase
                                   </li>
                              </ul>
                         </div>
                    </div>   
               </div>
          </div>
     </main>
     <footer class="page-footer white center-on-small-only">
          <!--Links-->
          <div class="container-fluid">
               <!--Row 1-->
               <div class="row">
                    <!--Column 1-->
                    <div class="col-md-6">
                         <h5 class="title">



     </footer>

</body>
</html>