<!DOCTYPE html>
<html>
<head>
     <title>Leland Wong</title>
     <meta charset="utf-8">
     <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css"> 
     <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
     <!-- Material Design Bootstrap -->
     <link href="stylesheets/mdb.min.css" rel="stylesheet">
     <!-- Your custom styles (optional) -->
     <link href="stylesheets/style.css" rel="stylesheet">
     <script type="text/javascript" src="public/javascripts/jquery-3.2.1.min.js"></script>
     <!-- Bootstrap core JavaScript -->
     <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
     <!-- MDB core JavaScript -->
     <script type="text/javascript" src="javascripts/mdb.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand|Work+Sans" rel="stylesheet"> 
</head>
<body>
	<header class="landing">
		<!--Navbar-->
		<nav class="navbar navbar-expand-lg navbar-light white fixed-top">
                    <!--Brand-->
                    <a class="navbar-brand active" href="/">LW</a>

                    <!--Collapsed Button-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <!--Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                         <!--Links-->
                         <ul class="navbar-nav mr-auto">

                              <li class="nav-item">
                                   <a class="nav-link" href="#">Resume<span class="sr-only"></span></a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="./job-exp">Job Experience<span class="sr-only"></span></a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="#">Portfolio<span class="sr-only"></span></a>
                              </li>
                         </ul>
                    </div>
          </nav>
		<!--Mask-->
		<div  id="intro" class="view hm-black-strong">
		   
			<div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">
				<div class="row d-flex justify-content-center">
					<div class="col-md-10 text-center">
                              <div>
                                   <img src="/images/leland-profile-square.png" class="rounded-circle img-fluid portrait z-depth-1"/>
                              </div>

						<h2 class="display-3  white-text mb-2">
							Leland Wong
						</h2>
						<hr class="hr-light">
						<h4 class="white-text mb-6">
							Driven and detail oriented Analyst looking to leverage a background in computer engineering and information systems and a passion for learning, looking to pivot into a web or application development role. 
						</h4>
					</div>
				</div>
			</div>


			</div>

		</div>
		<!--/.Mask-->


	</header>
	<!--Main-->
	<main>


	</main>
	<!--Main-->

	<!--Footer-->
	<footer class="page-footer-light white center-on-small-only">
          <div class="container-fluid">
               <div class="row">
                    <div class="col-md-6">
                         <p>You should definitely hire me!</p>
                    </div>

                    <div class="col-md-6">
                         <ul>
                              <li><a href="">Resume - Technical Analyst</a></li>
                              <li><a href="">Resume - Software Engineer</a></li>
                              <li><a href="">Contact</a></li>
                         </ul>
                    </div>
               </div>
          </div>
          <!-- Links
          : PDF version of resume
          : contact information
          : library / modules used list
           -->

	</footer>
	<!--Footer-->


</body>
</html>