/* Your custom styles */
#headshot{
	height: auto;
	max-height: 25em;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

header{
	margin-bottom: 15px;
}

html,
body,
.landing,
#intro {
    height: 100%;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}